<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;700&display=swap" rel="stylesheet">
  <style><%- css %></style>
</head>
<body>
  <div class="card">
    <div class="site-name"><%= siteName %></div>
    <div class="title"><%= title %></div>
    <div class="description"><%- description %></div>
    <div class="meta"><%= date %></div>
    <% if (tags && tags.length > 0) { %>
    <div class="tags">
      <% tags.forEach(function(tag) { %>
      <span class="tag"><%= tag %></span>
      <% }); %>
    </div>
    <% } %>
  </div>
</body>
</html>
